.about__active {
    background-color: #7474f00a;
    box-shadow: 0 0 10px 2px #8084b8;

    a {
        color: #757bd6;
        transition: color linear 0.4s;
    }
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
    padding: 6px;
    background-color: #7e8a9117;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #4a567933;
}

.main__container div {
    text-align: center;
    font-size: 2vw;
}

.main__header {
    grid-column: 1 / 4;
}

.main__section {
    grid-column: 1 / 4;
    border-bottom: 1px solid var(--secondary-color);    
}

.main__section__img {
    grid-column: 1 / 2;
    border-radius: 8px;
    border: 1px solid #0d3d1033;
    background-color: #000;
}

.main__section__img__text {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-shadow: #615fa6 1px 0 10px;    
}

.main__undertext {
    font-size: 0.8rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-shadow: #615fa6 1px 0 10px;
}

.img__container {
    width: 100%;
    height: auto;
    padding: 8px;
}

.main__section__text {
    grid-column: 2 / 4;
}

.main__article {
    grid-column: 1 / 4;
    border-top: 1px solid var(--secondary-color);
}

.main__title {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 0;
    padding-left: 2%;
    text-align: center;
    text-shadow: #615fa6 1px 0 10px;
    font-family: var(--primary-font);
}

.main__text {
    font-family: var(--secondary-font);
    color: var(--third-color);
    font-size: 1.2rem;
    padding: 4px;
    overflow-wrap: break-word;
}

.content__splitter {
    border-top: 1px solid var(--secondary-color);
}

@media screen and (max-width: 600px) {
    .main__title {
        font-size: 1.4rem;
    }

    .main__text {
        font-size: 0.8rem;
    }

    .main__section__img {
        grid-column: 1 / 4;
    }

    .main__section__text {
        grid-column: 1 / 4;
    }

    .main__section__img__text {
        font-size: 0.8rem;
    }

    .main__undertext  {
        font-size: 0.6rem;
    }

    .img__container {
        margin: auto;
        width: 65%;
    }
}

@media screen and (max-width: 1000px) {
    .main__section__img {
        background-color: transparent;
        border: none;
    }
}